{{!-- this is the form that will be used when the user wants to add new review --}}
<div class="card revcard">
    <h3 class="card-header">Write a review</h3>
    <form class="card-body new-review-form" id="new-review-form" action="/api/review" enctype="multipart/form-data"
        method="post">
        <select id="rating" name="rating" class="form-input">
            <option value="">Select a rating</option>
            <option class="star" value="1">&#9733;</option>
            <option class="star" value="2">&#9733;&#9733;</option>
            <option class="star" value="3">&#9733;&#9733;&#9733;</option>
            <option class="star" value="4">&#9733;&#9733;&#9733;&#9733;</option>
            <option class="star" value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
        </select>

        <label for="restaurant" class="form-label">Restaurant</label>
        <select id="restaurant_id" name="restaurant_id" class="form-input">
            <option value="">Select a restaurant</option>
            {{#each restaurants as |restaurant|}}
            <option value="{{id}}">{{restaurant_name}}</option>
            {{/each}}
            <option value="new">Create New Restaurant</option>
        </select>

        <label for="burger" class="form-label">Burger Name</label>
        <select id="burger_id" name="burger_id" class="form-input">
            <option value="">Select a burger</option>
            {{#each burgers}}
            <option value="{{id}}">{{burger_name}}</option>
            {{/each}}
            <option value="new">Create New Burger</option>
        </select>

        <label class="form-label" for="review">Review</label>
        <textarea id="review_content" name="review_content" class="form-input"></textarea>
        
        <input type="file" class="form-control-file" name="uploaded_file">

        <button id="submitReviewBtn" type="submit" class="btn">Submit</button>
    </form>
</div>