{{!-- this is the form that will be used when the user wants to add new review --}}
<div class="card">
    <h3 class="card-header">Write a review</h3>
    <h4 class="rating">How would you rate your burger?</h4>
    <div id="rating">
        <span class="star" data-value="1">&#9734;</span>
        <span class="star" data-value="2">&#9734;</span>
        <span class="star" data-value="3">&#9734;</span>
        <span class="star" data-value="4">&#9734;</span>
        <span class="star" data-value="5">&#9734;</span>
    </div>
    <form class="card-body new-review-form" id="new-review-form">
        <label for="restaurant" class="form-label">Restaurant</label>
        <select id="restaurant_id" name="restaurant_id" class="form-input">
            <option value="">Select a restaurant</option>
            {{#each restaurants as |restaurant|}}
                <option value="{{id}}">{{restaurant_name}}</option>
            {{/each}}
            <option value="new">Create New Restaurant</option>
        </select>

        <label for="burger" class="form-label">Burger Name</label>
        <select id="burger_id" name="burger_id" class="form-input">
            <option value="">Select a burger</option>
            {{#each burgers}}
                <option value="{{id}}">{{burger_name}}</option>
            {{/each}}
            <option value="new">Create New Burger</option>
        </select>

        <label class="form-label" for="review">Review</label>
        <textarea id="review_content" name="review" class="form-input"></textarea>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="image" class="form-label">Upload Burger Image</label>
            <input type="file" id="image" name="image" class="form-input" accept="image/*">
        </form>

        <button id="submitReviewBtn" type="button" class="btn">Submit</button>
    </form>
</div>