{{! this is the main html layout }}

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Burger Party</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar">
        <div class="navbar-start">
          <h6 class="htext1" style="font-size: 20px">Welcome to</h6>
          <h1 class="htext2" style="font-size: 40px">Burger Party</h1>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li id="divone"><a class="link" href="/"> Home </a></li>
            <li id="divone"><a class="link" href="/write-review">Write a Review</a></li>
            <li id="divone"><a class="link" href="/dashboard">Dashboard</a></li>
          </ul>
        </div>
        <div class="navbar-end">
          {{#if loggedIn}}
            <a class="btn" id="logout">Logout</a>
          {{else}}
            <a class="btn" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
<hr>
      <main>
        {{{body}}}
      </main>
      <footer>
        <p>footer here</p>
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>
</html>