{{!-- this is the main html layout --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Burger Party</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="hero">
      <div>
        <nav class"nav">
          <a class="link" href="/">Home</a>
          <a class="link" href="/write-review">Write a Review</a>
          {{#if loggedIn}}
          <a class="link" href="/" id="logout">Logout</a>
          {{else}}
          <a class="link" href="/login">Login</a>
          {{/if}}
        </nav>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>
    <script src="/js/form.js"></script>
  </div>

  {{#if loggedIn}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}

</body>

</html>