{{! this is the main html layout }}

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Burger Party</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div class="wrapper">
      <header class="hero min-h-screen">
        <img src="./images/diner.webp" class="dinerhero" />
        <section class="divisionherotext">
          <h6 class="htext1" style="font-size: 20px">Welcome to</h6>
          <h1 class="htext2" style="font-size: 70px">the Burger Party</h1>
        </section>
        <div>
          <nav class="nav">
            <div id="divone">
              <a class="link" href="/"> Home </a>
              <a href="#home"><button class="">Home</button></a>
            </div>
            <div id="divone">
              <a class="link" href="/write-review">Write a Review</a>
              <a href="#writereview"><button class="">Write a Review</button></a>
            </div>
            <div id="divone">
              <a class="link" href="/dashboard">Dashboard</a>
              <a href="#dashboard"><button class="">Dashboard</button></a>
            </div>
            {{#if loggedIn}}
              <a id="logout">Logout</a>
            {{else}}
              <a href="/login">Login</a>
              <a href="#logging"><button class="">Login</button></a>
            {{/if}}
          </nav>
        </div>
      </header>

      <main>
        {{{body}}}
      </main>
      <footer>
        <p>footer here</p>
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>
</html>