<div class="container">
  {{#each review as|review|}}
      <div class="image">
        <img src="#">
      </div>
      <div class="review">
        {{!-- name of the burger the restarunt and rivew --}}
        <span>{{>burger_name}} {{restaurant_name}}</span>
        <span>{{>review_content}}</span>
      </div>
  {{/each}}
    </div>