{{!-- this is the the page the user will see when they first come to read the reviews --}}
<section id="home">
<div class="reviews">
  {{#each reviews as |review|}}
  {{> review-details}}
  {{/each}}
</div>
<div class="restaurants">
  {{#each restaurants as |restaurant|}}
  {{> restaurant-details}}
  {{/each}}
</div>
</section>