{{!-- this is the the page the user will see when
they first come to read the reviews --}}
<div class="container">
  {{#each review as |review|}}
  <div class="image">
    <img src="{{burger_image}}">
  </div>
  <div class="review">
    {{!-- name of the burger the restarunt and rivew --}}
    <span>{{>reviewStar}} {{reviewTitle}}</span>
    <span> {{>burger_name}} {{restaurant_name}}</span>
    <span>{{>review_content}} by {{userName}}</span>
  </div>
  {{/each}}
</div>