
  <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">Signup</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
          <form class="form login-form">
            <div class="field">
              <input type="text" id="email-login" placeholder="Email Address" required>
            </div>
            <div class="field">
              <input type="password" id="password-login" placeholder="Password" required>
            </div>
            <div class="pass-link"><a href="#">Forgot password?</a></div>
            <div class="submit-btn">
               <button class="btn btn-primary" type="submit">Login</button>
            </div>

            <div class="signup-link">Not a member? <a href="">Signup now</a></div>
          </form>
          <form class="form signup-form">
            <div class="field">
              <input type="text" id="email-signup" placeholder="Email Address" required>
            </div>
            <div class="field">
              <input class="form-input" type="text" id="username-signup" placeholder="Username" id="username-signup" />
            </div>
            <div class="field">
              <input class="form-input" type="text" id="bio-signup" placeholder="Bio" id="bio-signup" />
            </div>
            <div class="field">
              <input type="password" id="password-signup" placeholder="Password" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm password" required>
            </div>
            <div class="submit-btn">
              <button class="btn btn-primary" type="submit">Signup</button>
            </div>
          </form>
        </div>
      </div>
    </div>


<script src="./js/login.js"></script>