<section class="user-page">
    <h3 class="dashboard-title">{{user.username}}'s Reviews</h3>
    <section class="flex-row justify-center">
        {{#each reviews as |review|}}
        {{> user-details}}
        {{/each}}
    </section>
</section>