* {
  box-sizing: border-box;
  font-family: Calibri;
}

html {
  scroll-behavior: smooth;
}

/* Header Section */

.dinerhero {
  width: 100%;
  height: 100vh;
}

.divisionherotext {
  margin-bottom: 200px;
  color: black;
}

.htext1 {
  margin-bottom: 0;
  width: 120px;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(88, 88, 88, 0.7),
    black,
    rgba(88, 88, 88, 0.7)
  );
  color: white;
  border-radius: 10px;
}

.htext2 {
  margin-top: 0;
  text-align: center;
  width: 500px;
  background: linear-gradient(
    to right,
    rgba(88, 88, 88, 0.1),
    white,
    rgba(88, 88, 88, 0.1)
  );
  color: black;
  border-radius: 20px;
}

#divone {
  color: white;
  text-align: center;
  width: 100px;
  background-color: rgb(180, 0, 0);
  border-radius: 10px;
  border: 1px solid white;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px;
}

/* Main Page Section */

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(to bottom, white, silver, white);
}

#home {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: auto;
  max-height: 98vh;
  margin: 5px;
}

.reviews {
  flex-direction: column;
  width: 45vw;
  height: 60vh;
  background-color: white;
  color: black;
  margin: 5px;
}

.review {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid red;
  margin: 5px;
  border-radius: 5px;
}

.restaurants {
  width: 45vw;
  background-color: black;
  color: white;
}

.restaurant {
  text-align: center;
  border: 5px solid white;
}

.reviewed-burger {
  align-content: center;
  width: 50px;
  height: 30vh;
}

#writereview {
  background-color: white(0, 0, 0);
  color: black;
  align-content: center;
  margin: 10% 20% 10% 20%;
  width: 70vw;
  height: 72vh;
  border: 2px solid red;
  border-radius: 20px;
}

.card-header {
  font-size: 35px;
  text-align: center;
}

.rating {
  justify-content: center;
}

#rating {
  text-align: center;
}

.form-input {
  border: 1px solid black;
  background-color: grey;
}

/* LOGIN SECTION */

.login-section {
  width: 100%;
  margin: 10% 20% 10% 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-card {
  align-items: center;
  width: 100%;
  color: black;
  border: 2px solid red;
  border-radius: 10px;
  margin: 25px;
  text-align: center;
}

.page-title {
  font-size: 25px;
  text-align: center;
}

.btn {
  background-color: rgb(180, 0, 0) !important;
  color: white !important;
  text-align: center;
  border: 2px solid black !important;
  margin: 2px;
}

/* FOOTER SECTION */

footer {
  text-align: center;
  width: 100%;
  height: 20px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 450px) {
  .card {
    width: 80vw;
  }
}
