:root {
  --primary: #244855;
  --secondary: #E64833;
  --tertiary: #874F41;
  --quatrinary: #90AEAD;
  --login: #577a7c;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--quatrinary);
  text-decoration: none;
}

header {
  padding: 20px 20px 10px 20px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
  filter: drop-shadow(0px 5px 5px var(--dark))
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 50px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary);
  padding: 14px 20px;
}

nav a {
  color: var(--light);
  background-color: var(--primary);
  padding: 14px 20px;
  margin: 3px;
  text-decoration: none;
  text-align: center;
  border: solid var(--dark);
  filter: drop-shadow(5px 5px 5px var(--dark))
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

h1,
h2,
h3 {
    text-align: center;
    /* padding-bottom: .5em; */
}

h1 {
  font-size: 3em;
  margin: 10px 0 32px 0;
}

h2 {
    font-size: 1.75em;
    padding-bottom: .75em;
    border-bottom: .3em solid var(--text-color);
}

h3 {
    font-size: 1.5em;
    padding: 1em .25em .25em;
}

h4 {
    font-size: 1em;
    line-height: 1;
}

h5 {
    font-size: .8em;
    margin: 5px 0 5px 0;
}

h6 {
    font-size: .75em;
    margin: 10px auto;
}

textarea {
  width:50%;
  min-width: 300px;
  min-height: 100px;
  margin-top: 2px;
  /* resize: vertical; */
}

.post-username {
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0px,
}

.post-date {
  font-weight: bold;
  font-size: .8em;
  line-height: .8;
  margin-top: 0px,
}

.form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.submit-btn {
  text-align: center
}

.form-input {
  width: 90%;
  padding: 8px;
  border: 1px solid var(--light);
  border-radius: 4px;
}

.btn {
  background-color: var(--light);
  color: var(--dark);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary);
  color: var(--light);
}

.dashboard-title {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  background-color: var(--tertiary);
  padding: 15px;
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 5px 5px var(--dark));
}

.user {
  flex: 4;
  background-color: var(--light);
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

button {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  justify-content: center;
}

.single-post {
  color: var(--dark);
  background-color: var(--light);
  margin: 20px;
  padding: 10px;
  border: 7px double var(--dark);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 700px;
}

.post {
  color: var(--dark);
  background-color: var(--light);
  margin: 20px;
  padding: 10px;
  flex: 0 1 40%;
  border: 7px double var(--dark);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  position: relative;
}

.single-post header,
.post header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  background-color: var(--tertiary);
  padding: 15px;
  border-radius: var(--border-radius);
}

.posts, 
.login-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjusted justify-content property */
  margin: 10px auto auto auto;
}

.delete-btn {
  background-color: var(--light);
  color: var(--dark);
  padding: 5px 10px; /* Increase padding for better appearance */
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 0.6em;
  font-weight: bolder;
  position: absolute;
  right: 3px;
  top: 65px;
}

/* CARDS */
.login-card {
  background-color: var(--login);
  color: var(--light);
  margin: 20px;
  padding: 10px;
  border: 7px double var(--dark);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border-width: thick;
  justify-content: space-between;
}

.comment {
  padding: 0 2px 2px 5px;
  flex: 0 1 300px;
  border: 1px dotted var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
  font-size: .8em;
  line-height: .8;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
